
<div class="admin-content">
  <div class="search">
    <mat-form-field class="input">
      <input matInput placeholder="User ID" type="text" #userId>
    </mat-form-field>
    <button class="button--icon" type="button" (click)='getBookingAll(userId.value)'>
      <img class='image' src="../../../assets/search.svg">
    </button>
  </div>
  <div class="filters">
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'all'" type="button" (click)='getBookingAll(userId.value)'
    [matBadge]='bookingsAll' matBadgePosition='after' matBadgeColor='accent'>
      All</button>
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'active' "type="button" (click)='getBookingActive(userId.value)'
    [matBadge]='bookingsActive' matBadgePosition='after' matBadgeColor='accent'>Active</button>
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'completed' "type="button" (click)='getBookingCompleted(userId.value)'
    [matBadge]='bookingsCompleted' matBadgePosition='after' matBadgeColor='accent'>Completed</button>
  </div>


  <div class="booking" *ngFor='let booking of bookings'>
    <mat-list [class.booking--active]="booking.status == 'active' && checked == 'all'"
              [class.booking--confirmed]="booking.status == 'confirmed' && checked == 'all'"
              [class.booking--completed]="booking.status == 'completed' && checked == 'all'">
      <mat-list-item class='list-item'>Booking ID: {{booking.id}}</mat-list-item>
      <mat-list-item class='list-item'>City: {{booking.city}}</mat-list-item>
      <mat-list-item class='list-item'>Center ID: {{booking.centerId}}</mat-list-item>
      <mat-list-item class='list-item'>Status: {{booking.status}}</mat-list-item>
      <mat-list-item>Start date: {{booking.startTime | date: 'medium'}}</mat-list-item>
      <mat-list-item *ngIf='booking.endTime'>End date: {{booking.endTime | date: 'medium'}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>


</div>
