<div class='homepage'>
  <div class="sign-in-container">
    <h1 class='title'>Motus Vita Est</h1>
    <p class="text">
      Rent a bike and enjoy the movement of life comfortably!
    </p>

    <app-authorization>  </app-authorization>
    <app-registration>  </app-registration>

  </div>
  <div class="offers">
    <h1 class="title">We offer</h1><br>
    <div class="offer">
      <img class="image" src="../../assets/repair.jpg">
      <h2 class="subtitle">Quality</h2>
      <p class='text'>Our bikes are regularly serviced.
        You will not get a faulty bike!</p>
    </div>
    <div class="offer">
      <img class="image" src="../../assets/fleet.jpg">
      <h2 class="subtitle">Wide fleet</h2>
      <p class='text'>At your disposal a wide selection of bicycles.
        You will always find suitable!</p>
    </div>
    <div class="offer">
      <img class="image" src="../../assets/accessories.jpg">
      <h2 class="subtitle">Accessories</h2>
      <p class='text'>Here you can rent all the accessories you need for a walk.</p>
    </div>
    <div class="offer">
      <img class="image" src="../../assets/delivery.jpg">
      <h2 class="subtitle">Home Delivery</h2>
      <p class='text'>For an additional fee, our employee will bring a bicycle to your home.</p>
    </div>

  </div>
</div>
