<div class='homepage'>
  <div class="sign-in-container">
    <h1 class='title'>Motus Vita Est</h1>
    <p class="text">
      Rent a bike and enjoy the movement of life comfortably!
    </p>

    <div class="authorization-panel" [hidden] = 'hide == "authorization"' *ngIf = 'gateway.authorized == false'>
      <header class="header">
        <h2 class='subtitle'>Login to your acount</h2>
      </header>
      <main class="main">
        <label class='label'>Enter email:
          <input class="input" type="email" name="email" #name >
        </label>
        <label class='label'>Enter password:
          <input class="input" type="password" name="password" #password>
        </label>
      </main>
      <footer class="footer">
        <button class="button" type="button" (click)='confirmUser(name.value, password.value)'>SIGN IN</button><br><br>
        <button class="button--text" type="button" (click)='hidePanel("authorization")'>I don't have an account</button>
      </footer>

    </div>

    <div class="registration-panel" [hidden] = 'hide == "registration"' *ngIf = 'gateway.authorized == false'>
      <header class="header">
        <h2 class='subtitle'>Create your acount</h2>
      </header>
      <main class="main">
            <label class='label'>Enter firstname:
              <input class="input" type="text" #firstname>
            </label>
            <label class='label'>Enter lastname:
              <input class="input" type="text" #lastname>
            </label>
        <label class='label'>Enter email:
          <input class="input" type="email" #newEmail>
        </label>
        <label class='label'>Enter password:
          <input class="input" type="password" #newPassword>
        </label>
      </main>
      <footer class="footer">
        <button class="button" type="button" (click)='registerUser(firstname.value, lastname.value, newEmail.value, newPassword.value)'>SIGN IN</button>
        <button class='button--text' type="button" (click)='hidePanel("registration")'>I have an account</button>
      </footer>
    </div>
  </div>
  <div class="offers">
    <h1 class="title">We offer</h1><br>
    <div class="offer">
      <img class="image" src="../../assets/repair.jpg">
      <h2 class="subtitle">Quality</h2>
      <p class='text'>Our bikes are regularly serviced.
        You will not get a faulty bike!</p>
    </div>
    <div class="offer">
      <img class="image" src="../../assets/fleet.jpg">
      <h2 class="subtitle">Wide fleet</h2>
      <p class='text'>At your disposal a wide selection of bicycles.
        You will always find suitable!</p>
    </div>
    <div class="offer">
      <img class="image" src="../../assets/accessories.jpg">
      <h2 class="subtitle">Accessories</h2>
      <p class='text'>Here you can rent all the accessories you need for a walk.</p>
    </div>
    <div class="offer">
      <img class="image" src="../../assets/delivery.jpg">
      <h2 class="subtitle">Home Delivery</h2>
      <p class='text'>For an additional fee, our employee will bring a bicycle to your home.</p>
    </div>

  </div>
</div>
