
<div class="admin-content">
  <div class="add-center-form" [formGroup]='addCenterForm'>
    <label class='label'>
      City name:<br>
      <input type="text" class='input' formControlName='city'>
    </label>
    <div class="section" formGroupName='location'>
      <h1 class="title">Location</h1>
      <label class='label'>
        Longitude:
        <input type="text" class='input' formControlName='lon'>
      </label>
      <label class="label">
        Latitude:
        <input type="text" class='input' formControlName='lat'>
      </label>
      <label class="label">
        Address:
        <input type="text" class='input' formControlName='address'>
      </label>
    </div>
    <div class="section" formGroupName='availableTime'>
      <h1 class="title">Available Time</h1>
      <div class="subsection" formGroupName='monday'>
        <h2>Monday</h2>
        <label class='label'>
          Open time:
          <input type="text" class='input' formControlName='openTime'>
        </label>
        <label class='label'>
          Close time:
          <input type="text" class='input' formControlName='closeTime'>
        </label>
        Closed:
        <input type="radio" formControlName='isOpen'>
      </div>
      <div class="subsection" formGroupName='tuesday'>
        <h2>Tuesday</h2>
        <label class='label'>
          Open time:
          <input type="text" class='input' formControlName='openTime'>
        </label>
        <label class='label'>
          Close time:
          <input type="text" class='input' formControlName='closeTime'>
        </label>
        Closed:
        <input type="radio" formControlName='isOpen'>
      </div>
      <div class="subsection" formGroupName='wednesday'>
        <h2>Wednesday</h2>
        <label class='label'>
          Open time:
          <input type="text" class='input' formControlName='openTime'>
        </label>
        <label class='label'>
          Close time:
          <input type="text" class='input' formControlName='closeTime'>
        </label>
        Closed:
        <input type="radio" formControlName='isOpen'>
      </div>
      <div class="subsection" formGroupName='thuesday'>
        <h2>Thursday</h2>
        <label class='label'>
          Open time:
          <input type="text" class='input' formControlName='openTime'>
        </label>
        <label class='label'>
          Close time:
          <input type="text" class='input' formControlName='closeTime'>
        </label>
        Closed:
        <input type="radio" formControlName='isOpen'>
      </div>
      <div class="subsection" formGroupName='friday'>
        <h2>Friday</h2>
        <label class='label'>
          Open time:
          <input type="text" class='input' formControlName='openTime'>
        </label>
        <label class='label'>
          Close time:
          <input type="text" class='input' formControlName='closeTime'>
        </label>
        Closed:
        <input type="radio" formControlName='isOpen'>
      </div>
      <div class="subsection" formGroupName='saturday'>
        <h2>Saturday</h2>
        <label class='label'>
          Open time:
          <input type="text" class='input' formControlName='openTime'>
        </label>
        <label class='label'>
          Close time:
          <input type="text" class='input' formControlName='closeTime'>
        </label>
        Closed:
        <input type="radio" formControlName='isOpen'>
      </div>
      <div class="subsection" formGroupName='sunday'>
        <h2>Sunday</h2>
        <label class='label'>
          Open time:
          <input type="text" class='input' formControlName='openTime'>
        </label>
        <label class='label'>
          Close time:
          <input type="text" class='input' formControlName='closeTime'>
        </label>
        Closed:
        <input type="radio" formControlName='isOpen'>
      </div>
    </div>
    <label class='label'>
      Cost for one bike:
      <input type="number" class='input' formControlName='cost'>
    </label>
    <label class='label'>
      Deposit for refund:
      <input type="number" class='input' formControlName='refundDeposit'>
    </label>
    <label class='label'>
      Name of the center:
      <input type="text" class='input' formControlName='name'>
    </label>
    <button class="button--basic" type="button" (click)='addCenter()'>ADD CENTER</button>
  </div>
</div>
