

.label {
  display: block;
  margin-bottom: 5px;
}

.title {
  margin-bottom: 10px;
}

.section {
  margin-bottom: 30px;
}

.subsection {
  margin-bottom: 20px;
}

.time {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.time > :first-child {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.time .subsection {
  margin-right: 20px;
}

.subtitle {
  margin-bottom: 10px;
  text-align: center;
}
