
.add-center-form {
  display: flex;
  flex-direction: column;
}

.option {
  width: 200px;
}

.section .option {
  margin-right: 20px;
}

.multi-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.input {
  width: 120px;
  margin-right: 20px;
}

.title {
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 15px;
}

.btn {
  width: 150px;
}

.subsection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
}
