
<div class="admin-content">
  <form class="add-center-form" [formGroup]='addCenterForm'>
    <mat-form-field class='option'>
      <input matInput placeholder="City name" type="text" formControlName='city'>
    </mat-form-field>
    <mat-form-field class='option'>
      <input matInput placeholder="Bike cost" type="text" formControlName='cost'>
    </mat-form-field>
    <mat-form-field class='option'>
      <input matInput placeholder="Refund deposit" type="text" formControlName='refundDeposit'>
    </mat-form-field>
    <mat-form-field class='option'>
      <input matInput placeholder="Center name" type="text" formControlName='name'>
    </mat-form-field>
    <mat-form-field class='option'>
      <input matInput placeholder="Bikes count" type="text" formControlName='bikesCount'>
    </mat-form-field>
    <div class="section" formGroupName='location'>
      <h1 class="title">Location</h1>
      <mat-form-field class='option'>
        <input matInput placeholder="Longitude" type="text" formControlName='lon'>
      </mat-form-field>
      <mat-form-field class='option'>
        <input matInput placeholder="Latitude" type="text" formControlName='lat'>
      </mat-form-field>
      <mat-form-field class='option'>
        <input matInput placeholder="Address" type="text" formControlName='address'>
      </mat-form-field>
    </div>
    <div class="multi-section" formGroupName='availableTime'>
      <h1 class="title">Available Time</h1>
      <div class="subsection" formGroupName='monday'>
        <h2 class='title'>Monday</h2>
        <mat-form-field class='input'>
          <input matInput placeholder="Open time" type="text" formControlName='openTime'>
        </mat-form-field>
        <mat-form-field class='input'>
          <input matInput placeholder="Close time" type="text" formControlName='closeTime'>
        </mat-form-field>
        <label>
          Closed
          <input class="radio" type="radio" value='true' formControlName='isOpen'>
        </label>
      </div>
      <div class="subsection" formGroupName='tuesday'>
        <h2 class='title'>Tuesday</h2>
        <mat-form-field class='input'>
          <input matInput placeholder="Open time" type="text" formControlName='openTime'>
        </mat-form-field>
        <mat-form-field class='input'>
          <input matInput placeholder="Close time" type="text" formControlName='closeTime'>
        </mat-form-field>
        <label>
          Closed
          <input class="radio" type="radio" value='true' formControlName='isOpen'>
        </label>
      </div>
      <div class="subsection" formGroupName='wednesday'>
        <h2 class='title'>Wednesday</h2>
        <mat-form-field class='input'>
          <input matInput placeholder="Open time" type="text" formControlName='openTime'>
        </mat-form-field>
        <mat-form-field class='input'>
          <input matInput placeholder="Close time" type="text" formControlName='closeTime'>
        </mat-form-field>
        <label>
          Closed
          <input class="radio" type="radio" value='true' formControlName='isOpen'>
        </label>

      </div>
      <div class="subsection" formGroupName='thursday'>
        <h2 class='title'>Thursday</h2>
        <mat-form-field class='input'>
          <input matInput placeholder="Open time" type="text" formControlName='openTime'>
        </mat-form-field>
        <mat-form-field class='input'>
          <input matInput placeholder="Close time" type="text" formControlName='closeTime'>
        </mat-form-field>
        <label>
          Closed
          <input class="radio" type="radio" value='true' formControlName='isOpen'>
        </label>
      </div>
      <div class="subsection" formGroupName='friday'>
        <h2 class='title'>Friday</h2>
        <mat-form-field class='input'>
          <input matInput placeholder="Open time" type="text" formControlName='openTime'>
        </mat-form-field>
        <mat-form-field class='input'>
          <input matInput placeholder="Close time" type="text" formControlName='closeTime'>
        </mat-form-field>
        <label>
          Closed
          <input class="radio" type="radio" value='true' formControlName='isOpen'>
        </label>
      </div>
      <div class="subsection" formGroupName='saturday'>
        <h2 class='title'>Saturday</h2>
        <mat-form-field class='input'>
          <input matInput placeholder="Open time" type="text" formControlName='openTime'>
        </mat-form-field>
        <mat-form-field class='input'>
          <input matInput placeholder="Close time" type="text" formControlName='closeTime'>
        </mat-form-field>
        <label>
          Closed
          <input class="radio" type="radio" value='true' formControlName='isOpen'>
        </label>
      </div>
      <div class="subsection" formGroupName='sunday'>
        <h2 class='title'>Sunday</h2>
        <mat-form-field class='input'>
          <input matInput placeholder="Open time" type="text" formControlName='openTime'>
        </mat-form-field>
        <mat-form-field class='input'>
          <input matInput placeholder="Close time" type="text" formControlName='closeTime'>
        </mat-form-field>
        <label>
          Closed
          <input class="radio" type="radio" value='true' formControlName='isOpen'>
        </label>
      </div>
    </div>
    <button class="btn" mat-raised-button color="primary" type="button" (click)='addCenter()'>ADD CENTER</button>
  </form>
</div>
