
@import "../../../../variables.scss";

.button--basic {
  margin-left: 20px;
}


@media screen and (min-width: 1400px){


  .content {
    padding: $admin-content-padding-laptop;
  }

}


@media screen and (max-width: 1399px){

  .content {
    padding: $admin-content-padding-netbook;
  }

}
