
@import "../../../../variables.scss";

.label {
  display: block;
  margin-bottom: 20px;
}




@media screen and (min-width: 1400px){


  .adding {
    padding: $admin-content-padding-laptop;
  }

}


@media screen and (max-width: 1399px){

  .adding {
    padding: $admin-content-padding-netbook;
  }

}
