
<div class="admin-content">
  <div class="search">
    <mat-form-field class="input">
      <input matInput placeholder="City name" type="text" #cityName>
    </mat-form-field>
    <button type="button" id='city' class="button--icon" (click)='getBookingByCityAll(cityName.value)'>
      <img class='image' src="../../../assets/search.svg">
    </button>
  </div>
  <div class="filters">
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'all'" type="button"
    [matBadge]='bookingsAll' matBadgePosition='after' matBadgeColor='accent' (click)='getBookingByCityAll(cityName.value)'>
      All</button>
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'active' " type="button"
    [matBadge]='bookingsActive' matBadgePosition='after' matBadgeColor='accent' (click)='getBookingByCityActive(cityName.value)'>
    Active</button>
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'completed' " type="button"
    [matBadge]='bookingsCompleted' matBadgePosition='after' matBadgeColor='accent' (click)='getBookingByCityCompleted(cityName.value)'>
    Completed</button>
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'centers' " type="button"
    [matBadge]='countCenters' matBadgePosition='after' matBadgeColor='accent' (click)='showCenters()'>
    Centers</button>
  </div>
  <ng-container *ngIf="display == 'bookings'">
    <div class="booking" *ngFor='let booking of bookings'>
      <mat-list [class.booking--active]="booking.status == 'active'"
          [class.booking--confirmed]="booking.status == 'confirmed'"
          [class.booking--completed]="booking.status == 'completed'">
        <mat-list-item>Booking status: {{booking.status}}</mat-list-item>
        <mat-list-item>User ID: {{booking.userId}}</mat-list-item>
        <mat-list-item>Booking ID: {{booking.id}}</mat-list-item>
        <mat-list-item>Start date: {{booking.startTime | date: 'medium'}}</mat-list-item>
        <mat-list-item *ngIf='booking.endTime'>End date: {{booking.endTime | date: 'medium'}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </ng-container>

  <div class="centers" *ngIf="display == 'centers'">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor='let center of centers'>{{center.name}}</mat-list-item>
    </mat-list>
  </div>
</div>
