
<div class="admin-content">
  <div class="centers">
    <div class="search-field">
      <mat-form-field class="input">
        <input matInput placeholder="City name" #cityName >
      </mat-form-field>
      <button class="button--icon" type="button" (click)='showCenters(cityName.value)'>
        <img class='image' src="../../../assets/search.svg" alt="">
      </button>
    </div>
    <mat-expansion-panel class="center-item" *ngFor='let center of centers' hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="name"> {{center.name}} </mat-panel-title>
        <mat-panel-description>
          <button class="button--icon" type="button" (click)='removeCenter(center.id)'>
            <img class='image' src="../../../assets/delete.svg">
          </button>
          <button class="button--icon" type="button" (click)='openModal(center.id)'>
            <img class='image' src="../../../assets/edit.svg">
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="list">
        <li class='list-item'>Center ID: {{center.id}}</li>
        <li class='list-item'>Cost: {{center.cost}}</li>
        <li class='list-item'>Bikes count: {{center.bikesCount}}</li>
        <li class='list-item'>Refund deposit: {{center.refundDeposit}}</li>
        <li class='list-item'>Location:
          <ul class='list subsection'>
            <li class='list-item'>Longityde: {{center.location.lon}}</li>
            <li class='list-item'>Latitude: {{center.location.lat}}</li>
          </ul>
        </li>
        <li class='list-item'>Available time:
          <ul class="list subsection">
            <li class='list-item'>Monday
              <ul class="list subsection">
                <li class='list-item'>Open time: {{center.availableTime.monday.openTime}}</li>
                <li class='list-item'>Close time:  {{center.availableTime.monday.closeTime}}</li>
              </ul>
            </li>
            <li class='list-item'>Tuesday
              <ul class="list subsection">
                <li class='list-item'>Open time: {{center.availableTime.tuesday.openTime}}</li>
                <li class='list-item'>Close time:  {{center.availableTime.tuesday.closeTime}}</li>
              </ul>
            </li>
            <li class='list-item'>Wednesday
              <ul class="list subsection">
                <li class='list-item'>Open time: {{center.availableTime.wednesday.openTime}}</li>
                <li class='list-item'>Close time:  {{center.availableTime.wednesday.closeTime}}</li>
              </ul>
            </li>
            <li class='list-item'>Thursday
              <ul class="list subsection">
                <li class='list-item'>Open time: {{center.availableTime.thursday.openTime}}</li>
                <li class='list-item'>Close time:  {{center.availableTime.thursday.closeTime}}</li>
              </ul>
            </li>
            <li class='list-item'>Friday
              <ul class="list subsection">
                <li class='list-item'>Open time: {{center.availableTime.friday.openTime}}</li>
                <li class='list-item'>Close time:  {{center.availableTime.friday.closeTime}}</li>
              </ul>
            </li>
            <li class='list-item'>Saturday
              <ul class="list subsection">
                <li class='list-item'>Open time: {{center.availableTime.saturday.openTime}}</li>
                <li class='list-item'>Close time:  {{center.availableTime.saturday.closeTime}}</li>
              </ul>
            </li>
            <li class='list-item'>Sunday
              <ul class="list subsection">
                <li class='list-item'>Open time: {{center.availableTime.sunday.openTime}}</li>
                <li class='list-item'>Close time:  {{center.availableTime.sunday.closeTime}}</li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </mat-expansion-panel>
  </div>
  <div class='map' id='map'>

  </div>
</div>
