
.admin-content {
    display: flex;
    flex-flow: row nowrap;
}

.centers {
  display: flex;
  width: 35%;
  flex-flow: column;
}

.map {
  position: fixed;
  right: 0;
  width: 55%;
  height: 100vh;
}

.center-item {
  padding-top: 15px;
}

.search-field {
  display: flex;
  padding-bottom: 10px;
}

.center-title {
  display: flex;
  padding-bottom: 10px;
}

.list-item {
  margin-bottom: 5px;
}


.label {
  display: block;
  padding-bottom: 15px;
}

.input {
  height: 25px;
  margin-right: 10px;
}

.update-center-form {
  width: 100%;
}



.name {
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
}


.text {
  display: inline-block;
  width: 120px;
  padding-bottom: 5px;
}

.subsection {
  padding-left: 10px;
}

.checked {
  background-color: #00FF00;
}
