
.admin-content {
    display: flex;
    flex-flow: row nowrap;
}

.centers {
  flex: 0 0 35%;
}

.input {
  margin-right: 10px;
}

.map {
  position: fixed;
  right: 0;
  width: 55%;
  height: 100vh;
}


.search-field {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.center-item {
  margin-bottom: 5px;
}

.list-item {
  margin-bottom: 5px;
}

.name {
  width: 60%;
}

.update-center-form {
  width: 100%;
}

.subsection {
  padding-left: 10px;
}
