
.btn-group {
  margin-bottom: 10px;
}

.user {
  margin-top: 10px;
}

.name {
  color: #F50A15;
  font-weight: bold;
}

.btn {
  margin-right: 15px;
}

.btn--primary {
  color: #3f51b5;
  font-weight: bold;
}

.input {
  margin-right: 10px;
}
