<div class="add-center">
  <table class="table">
    <tr>
      <th>City name:</th>
      <td colspan="3"><input type="text"></td>
    </tr>
    <tr>
      <th rowspan='2'>Location:</th>
      <td colspan="3"><input type="text"></td>
    </tr>
    <tr>
      <td colspan="3"><input type="text"></td>
    </tr>
    <tr>
      <th rowspan="28">Available time:</th>
      <td rowspan="4">Monday</td>
      <td>Open time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Close time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td rowspan="2">Open</td>
      <td><input type="radio" name='isOpenMon' value="true"></td>
    </tr>
    <tr>
      <td><input type="radio" name='isOpenMon' value="true"></td>
    </tr>
    <tr>
      <td rowspan="4">Tuesday</td>
      <td>Open time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Close time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td rowspan="2">Open</td>
      <td><input type="radio" name='isOpenTue' value="true"></td>
    </tr>
    <tr>
      <td><input type="radio" name='isOpenTue' value="true"></td>
    </tr>
    <tr>
      <td rowspan="4">Wednesday</td>
      <td>Open time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Close time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td rowspan="2">Open</td>
      <td><input type="radio" name='isOpenWed' value="true"></td>
    </tr>
    <tr>
      <td><input type="radio" name='isOpenWed' value="true"></td>
    </tr>
    <tr>
      <td rowspan="4">Thurstday</td>
      <td>Open time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Close time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td rowspan="2">Open</td>
      <td><input type="radio" name='isOpenThu' value="true"></td>
    </tr>
    <tr>
      <td><input type="radio" name='isOpenThu' value="true"></td>
    </tr>
    <tr>
      <td rowspan="4">Friday</td>
      <td>Open time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Close time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td rowspan="2">Open</td>
      <td><input type="radio" name='isOpenFri' value="true"></td>
    </tr>
    <tr>
      <td><input type="radio" name='isOpenFri' value="true"></td>
    </tr>
    <tr>
      <td rowspan="4">Saturday</td>
      <td>Open time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Close time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td rowspan="2">Open</td>
      <td><input type="radio" name='isOpenSat' value="true"></td>
    </tr>
    <tr>
      <td><input type="radio" name='isOpenSat' value="true"></td>
    </tr>
    <tr>
      <td rowspan="4">Sunday</td>
      <td>Open time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Close time</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td rowspan="2">Open</td>
      <td><input type="radio" name='isOpenSun' value="true"></td>
    </tr>
    <tr>
      <td><input type="radio" name='isOpenSun' value="true"></td>
    </tr>
    <tr>
      <th>Cost for one bike:</th>
      <td colspan="3"><input type="number"></td>
    </tr>
    <tr>
      <th>Deposit for refund:</th>
      <td colspan="3"><input type="number"></td>
    </tr>
    <tr>
      <th>Center name:</th>
      <td colspan="3"><input type="text"></td>
    </tr>
  </table>
</div>
