

<div class="admin">
  <div class="articles-panel" #articles>
    <div class="articles">
      <a class="article h1" routerLink = 'cities' routerLinkActive = 'active'>Cities</a>
      <a class="article h1" routerLink = 'centers' routerLinkActive = 'active'>Centers</a>
      <a class="article h1" routerLink = 'users' routerLinkActive = 'active'>Users</a>
      <a class="article h1" routerLink = 'bookings' routerLinkActive = 'active'>Bookings</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
