
.articles-panel {
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #1e2d3b;
}

.article {
  color: #fff;
  background-color: inherit;
  border: none;
  
  text-align: left;
}

.active {
  background-color: #fff;
  color: #1e2d3b;
}
