<div class="authorization">
  <form class="authorization-panel" [formGroup]='authorizationForm'>
    <header class="header">
      <h2 class='subtitle'>Login to your acount</h2>
    </header>
    <div class="main" >
      <mat-form-field class = 'input'>
        <input  matInput placeholder="Email" type="text" formControlName='email' #email>
      </mat-form-field>
      <mat-form-field class = 'input'>
        <input  matInput placeholder="Password" type="text" formControlName='password' #password>
      </mat-form-field>
    </div>
    <footer class="footer">
      <button mat-raised-button color="primary" type="button" (click)='signIn()'>Sign in</button>
    </footer>
  </form>
</div>
