
/*---   Block Sizes   ---*/

$height-main-header-laptop: 60px;
$height-main-header-netbook: 40px;
$height-article-panel-mobile: 40px;

$width-article-panel-laptop: 250px;
$width-logo-container-laptop: $width-article-panel-laptop;
$width-article-panel-netbook: 150px;
$width-logo-container-netbook: $width-article-panel-netbook;

$height-admin-options: 40px;


/*---   Positions   ---*/

$nav-left-laptop: $width-logo-container-laptop;
$nav-left-netbook: $width-logo-container-netbook;

$admin-options-left-laptop: $width-article-panel-laptop;
$admin-options-left-netbook: $width-article-panel-netbook;
$admin-options-top-laptop: $height-main-header-laptop;
$admin-options-top-netbook: $height-main-header-netbook;
$admin-options-top-mobile: $height-main-header-netbook + $height-article-panel-mobile;





/*---   Indents   ---*/

$admin-content-padding-laptop: ($height-main-header-laptop + $height-admin-options + 20px) 20px 0 ($width-article-panel-laptop + 20px);
$admin-content-padding-netbook: ($height-main-header-netbook + $height-admin-options + 20px) 0 0 ($width-article-panel-netbook + 20px);
$admin-content-padding-mobile: ($height-main-header-netbook + $height-admin-options + $height-article-panel-mobile + 10px) 10px 0 10px;


/*---   Fonts   ---*/

$text: 16px;
$h1: 22px;
$h2: 20px;
$h3: 18px;
