
<div class="admin-content">

    <div class="search-field">
      <mat-form-field class="input">
        <input matInput placeholder="User name" type="text" #name>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput placeholder="User ID" type="text" #id>
      </mat-form-field>
      <button class='button--icon' type="button" (click)='findUser(name.value, id.value)'>
        <img class='image' src="../../../assets/search.svg" alt="">
      </button>
    </div>


  <div class="user-info" *ngIf='user'>
    <mat-list class="list">
      <mat-list-item class="list-item name">Name: {{user.fullName}}</mat-list-item>
      <mat-list-item class="list-item">ID: {{user.id}}</mat-list-item>
      <mat-list-item class="list-item">Password: {{user.password}}</mat-list-item>
      <mat-list-item class="list-item">Email: {{user.email}}</mat-list-item>
      <mat-list-item class="list-item">Date of create: {{user.created_at | date: 'medium'}}</mat-list-item>
    </mat-list>
  </div>
</div>
