<div class="users">
  <button type="button" (click)='sortOldFirst()'>Old first</button>
  <button type="button" (click)='sortNewFirst()'>New first</button>
  <button type="button" (click)='getUsers()'>Show users</button>
  <label>
    Sort by range:
    <input type="date" #fromDate>
    <input type="date" #toDate>
  </label>
  <button type="button" (click)='sortByDateRange(fromDate.value, toDate.value)'>Sort</button>
  <ul class="list">
    <li class="list-item" *ngFor='let user of users'>
      <h1>Name: {{user.fullName}}</h1>
      <p>ID: {{user.id}}</p>
      <p>Date of create: {{user.created_at | date: 'medium'}}</p>
    </li>
  </ul>
</div>
