
.search {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  margin-right: 10px;
}

.booking {
  margin-bottom: 10px;
}

.booking--active {
  background-color: #00FF00;
}

.booking--confirmed {
  background-color: #FFFF00;
}

.booking--completed {
  background-color: #C0C0C0;
}
