
<div class="admin-content">
  <div class="search">
    <label class="label">
      City:
      <input type="text" #cityName>
    </label>
    <button type="button" class="button--icon" (click)='getBookingByCity(cityName.value)'>
      <img class='image' src="../../../assets/search.svg" alt="">
    </button>
  </div>
  <div class="booking" *ngFor='let item of bookings'>
    <ul [class.booking--active]="item.status == 'active'"
        [class.booking--confirmed]="item.status == 'confirmed'"
        [class.booking--completed]="item.status == 'completed'">
      <li>Booking status: {{item.status}}</li>
      <li>User ID: {{item.userId}}</li>
      <li>Booking ID: {{item.id}}</li>
      <li>Start date: {{item.startTime | date: 'medium'}}</li>
      <li>End date: {{item.endTime | date: 'medium'}}</li>
    </ul>
    <hr>
  </div>
</div>
