<div class="add-center" [formGroup]='addCenterForm'>
  <label>
    City name:
    <input type="text" formControlName='city'>
  </label>
  <div class="section" formGroupName='location'>
    <label>
      Location:
      <input type="text" formControlName='lon'>
      <input type="text" formControlName='lat'>
      <input type="text" formControlName='address'>
    </label>
  </div>
  <div class="section" formGroupName='availableTime'>
    <h1>Available Time</h1>
    <div class="subsection" formGroupName='monday'>
      <h2>Monday</h2>
      <label>
        Open time:
        <input type="text" formControlName='openTime'>
      </label>
      <label>
        Close time:
        <input type="text" formControlName='closeTime'>
      </label>
      Closed:
      <input type="radio" formControlName='isOpen'>
    </div>
    <div class="subsection" formGroupName='tuesday'>
      <h2>Tuesday</h2>
      <label>
        Open time:
        <input type="text" formControlName='openTime'>
      </label>
      <label>
        Close time:
        <input type="text" formControlName='closeTime'>
      </label>
      Closed:
      <input type="radio" formControlName='isOpen'>
    </div>
    <div class="subsection" formGroupName='wednesday'>
      <h2>Wednesday</h2>
      <label>
        Open time:
        <input type="text" formControlName='openTime'>
      </label>
      <label>
        Close time:
        <input type="text" formControlName='closeTime'>
      </label>
      Closed:
      <input type="radio" formControlName='isOpen'>
    </div>
    <div class="subsection" formGroupName='thuesday'>
      <h2>Thursday</h2>
      <label>
        Open time:
        <input type="text" formControlName='openTime'>
      </label>
      <label>
        Close time:
        <input type="text" formControlName='closeTime'>
      </label>
      Closed:
      <input type="radio" formControlName='isOpen'>
    </div>
    <div class="subsection" formGroupName='friday'>
      <h2>Friday</h2>
      <label>
        Open time:
        <input type="text" formControlName='openTime'>
      </label>
      <label>
        Close time:
        <input type="text" formControlName='closeTime'>
      </label>
      Closed:
      <input type="radio" formControlName='isOpen'>
    </div>
    <div class="subsection" formGroupName='saturday'>
      <h2>Saturday</h2>
      <label>
        Open time:
        <input type="text" formControlName='openTime'>
      </label>
      <label>
        Close time:
        <input type="text" formControlName='closeTime'>
      </label>
      Closed:
      <input type="radio" formControlName='isOpen'>
    </div>
    <div class="subsection" formGroupName='sunday'>
      <h2>Sunday</h2>
      <label>
        Open time:
        <input type="text" formControlName='openTime'>
      </label>
      <label>
        Close time:
        <input type="text" formControlName='closeTime'>
      </label>
      Closed:
      <input type="radio" formControlName='isOpen'>
    </div>
  </div>
  <label>
    Cost for one bike:
    <input type="number" formControlName='cost'>
  </label>
  <label>
    Deposit for refund:
    <input type="number" formControlName='refundDeposit'>
  </label>
  <label>
    Name of the center:
    <input type="text" formControlName='name'>
  </label>
  <button type="button" (click)='addCenter()'>Add center</button>
</div>
