
@import '../../../../variables.scss';

.label {
  display: block;
  margin-bottom: 5px;
}

.title {
  margin-bottom: 10px;
}

.section {
  margin-top: 10px;
}

.subsection {
  margin-bottom: 20px;
}

@media screen and (min-width: 1400px){


  .add-center {
    padding: $admin-content-padding-laptop;
  }

}


@media screen and (max-width: 1399px){

  .add-center {
    padding: $admin-content-padding-netbook;
  }

}
