
<div class="admin-content">
  <div class="search">
    <mat-form-field class="input">
      <input matInput placeholder="City name" type="text" #cityName>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Center name" type="text" #centerName>
    </mat-form-field>
    <button type="button" id='city' class="button--icon" (click)='getBookingByCenterAll(cityName.value, centerName.value)'>
      <img class='image' src="../../../assets/search.svg">
    </button>
  </div>
  <div class="filters">
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'all'" type="button"
    [matBadge]='bookingsAll' matBadgePosition='after' matBadgeColor='accent' (click)='getBookingByCenterAll(cityName.value, centerName.value)'>
      All</button>
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'active' " type="button"
    [matBadge]='bookingsActive' matBadgePosition='after' matBadgeColor='accent' (click)='getBookingByCenterActive(cityName.value, centerName.value)'>
    Active</button>
    <button class="btn" mat-stroked-button [class.btn--primary] = "checked == 'completed' " type="button"
    [matBadge]='bookingsCompleted' matBadgePosition='after' matBadgeColor='accent' (click)='getBookingByCenterCompleted(cityName.value, centerName.value)'>
    Completed</button>
  </div>
  <div class="booking" *ngFor='let booking of bookingArr'>
    <mat-list [class.booking--active]="booking.status == 'active'"
        [class.booking--confirmed]="booking.status == 'confirmed'"
        [class.booking--completed]="booking.status == 'completed'">
      <mat-list-item>Booking status: {{booking.status}}</mat-list-item>
      <mat-list-item>User ID: {{booking.userId}}</mat-list-item>
      <mat-list-item>Booking ID: {{booking.id}}</mat-list-item>
      <mat-list-item>Start date: {{booking.startTime | date: 'medium'}}</mat-list-item>
      <mat-list-item *ngIf='booking.endTime'>End date: {{booking.endTime | date: 'medium'}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
