
@import "../../../../variables.scss";

.button {
  background-color: inherit;
}

.button .image {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1400px){

  .cities {
    padding: $admin-content-padding-laptop;
  }

}


@media screen and (max-width: 1399px){

  .cities {
    padding: $admin-content-padding-netbook;
  }

}
