
@import "../../../../variables.scss";


.button--basic {
  margin-left: 20px;
}

#map {
  height: 50%;
  width: 80%;
  z-index: 0;
}

@media screen and (min-width: 1400px){


  .centers {
    padding: $admin-content-padding-laptop;
  }

}


@media screen and (max-width: 1399px){

  .centers {
    padding: $admin-content-padding-netbook;
  }

}
