
<div class="admin-content">
    <form class="add-city-form" [formGroup]='addCityForm'>
      <mat-form-field class="input">
        <input matInput placeholder = 'City name' class="input" formControlName='city'>
      </mat-form-field>
      <div formGroupName='location'>
        <h2 class="title h3">Location</h2>
        <mat-form-field class="input">
          <input matInput placeholder = 'Latitude' class="input" formControlName='lat'>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput placeholder = 'Longitude' class="input" formControlName='lon'>
        </mat-form-field>
      </div>
      <button class="btn" mat-raised-button color="primary" (click)='addCity()'>Add city</button>
    </form>

</div>
