
@import './app/variables.scss';
@import './reset-styles.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
  font-size: 16px;
}

.options {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $height-admin-options;
  background-color: #edcd1f;
  padding: 18px 0 0 20px;
}

.button--icon {
  background-color: inherit;
  outline: none;
  width: 20px;
  height: 20px;
}

.button--icon .image {
  width: 100%;
  height: 100%;
}

.admin-content {
  height: 100vh;
}

.options .list-item {
  display: inline-block;
  margin-right: 30px;
}

.options .link {
  padding: 5px 10px 0 10px;
}

.active {
  background-color: #1e2d3b;
  color: #fff;
}

.h1 {
  font-size: $h1;
}

.text {
  font-size: $text;
}

.h2 {
  font-size: $h2;
}

.h3 {
  font-size: $h3;
}


@media screen and (min-width: 1400px){


  .options {
    top: $admin-options-top-laptop;
    left: $admin-options-left-laptop;
  }

  .admin-content {
    padding: $admin-content-padding-laptop;
  }

  .articles-panel {
    top: 60px;
    height: 100vh;
    width: 250px;
    padding: 50px 0 0 20px;
  }

  .article {
    margin-bottom: 20px;
    display: block;
    padding: 10px 20px;
    margin-right: 76px;
    width: 100%;
  }

}


@media screen and (max-width: 1399px) and (min-width: 901px){

  .options {
    top: $admin-options-top-netbook;
    left: $admin-options-left-netbook;
  }

  .admin-content {
    padding: $admin-content-padding-netbook;
  }

  .articles-panel {
    top: 40px;
    padding: 40px 0 0 0;
    width: 150px;
  }

  .article {
    padding: 5px 0 5px 10px;
    margin: 0 0 10px 0;
    width: 100%;
  }

}

@media screen and (max-width: 900px){

  .options {
    top: $admin-options-top-mobile;
    left: 0;
    height: 40px;
  }

  .admin-content {
    padding: $admin-content-padding-mobile;
  }

  .articles-panel {
    top: 40px;
    width: 100%;
    height: 40px;
    padding: 10px 0 0 3px;
  }

  .article {
    display: inline-block;
    padding: 5px;
    margin: 0 3px;
    width: auto;
    font-size: 16px;
  }

}
