
@import './app/variables.scss';
@import './reset-styles.scss';

.button--basic {
  background-color: #1E90FF;
  padding: 5px 10px;
  border-radius: 10px;
}

.options {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $height-admin-options;
  background-color: #edcd1f;
  padding: 18px 0 0 20px;
}

.button--icon {
  background-color: inherit;
  outline: none;
  width: 20px;
  height: 20px;
}

.button--icon .image {
  width: 100%;
  height: 100%;
}

.button--filter{
  background-color: inherit;
  border: 1px solid #000;
  border-radius: 20px;
  outline: none;
  padding: 5px 10px;
  font-size: 12px;
}

.button--filter--checked {
  background-color: #00FF00;
}

.admin-content {
  height: 100vh;
}

.options .list-item {
  display: inline-block;
  margin-right: 30px;
}

.options .link {
  padding: 5px 10px 0 10px;
}

.active {
  background-color: #1e2d3b;
  color: #fff;
}

.h1 {
  font-size: $h1;
}

.text {
  font-size: $text;
}

.h2 {
  font-size: $h2;
}

.h3 {
  font-size: $h3;
}


@media screen and (min-width: 1400px){


  .options {
    top: $admin-options-top-laptop;
    left: $admin-options-left-laptop;
  }

  .admin-content {
    padding: $admin-content-padding-laptop;
  }

}


@media screen and (max-width: 1399px){

  .options {
    top: $admin-options-top-netbook;
    left: $admin-options-left-netbook;
  }

  .admin-content {
    padding: $admin-content-padding-netbook;
  }

}
