
@import "../../../../variables.scss";

.button--basic {
  margin-left: 10px;
}

@media screen and (min-width: 1400px){


  .user {
    padding: $admin-content-padding-laptop;
  }

}


@media screen and (max-width: 1399px){

  .user {
    padding: $admin-content-padding-netbook;
  }

}
