
@import '../../../variables.scss';

.options {
  position: fixed;
  width: 100%;
  height: $height-admin-options;
  background-color: #edcd1f;
  padding: 18px 0 0 20px;
}

.options .list-item {
  display: inline-block;
  margin-right: 30px;
}

.options .link {
  padding: 5px 10px;
}

.active {
  background-color: #1e2d3b;
  color: #fff;
}


@media screen and (min-width: 1400px){


  .options {
    top: $admin-options-top-laptop;
    left: $admin-options-left-laptop;
  }

}


@media screen and (max-width: 1399px){

  .options {
    top: $admin-options-top-netbook;
    left: $admin-options-left-netbook;
  }

}
