<div class="registration-panel">
  <header class="header">
    <h2 class='subtitle'>Create your acount</h2>
  </header>
  <main class="main" [formGroup]='registrationFrom'>
    <label class='label'>Enter fullname:
      <input class="input" type="text" formControlName='fullName'>
    </label>
    <label class='label'>Enter email:
      <input class="input" type="email" formControlName='email'>
    </label>
    <label class='label'>Enter password:
      <input class="input" type="password" formControlName='password'>
    </label>
  </main>
  <footer class="footer">
    <button class="button" type="button" (click)='signUp()'>SIGN IN</button><br>
    <a class='link' routerLink='../authorization'>I have an account</a>
  </footer>
</div>
